{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>OPGEE TEST</h1>
    <form class="download" action="/download" method="POST">
    <hr><br>
    <div>
        <h3>Tasks</h3>
        <p>Click to run the example OPGEE model & download output data</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" data-type="1">Download</a>
        </div>
    </div>
    <br><br>
    <div>
        <h3>Task Status</h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <!-- <th>Result</th> -->
                </tr>
            </thead>
            <tbody id="tasks">
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}